body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tarif_section{
    width: 100%;
    background: #F193B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px black solid;
    
    line-height: 31.40px;
    word-wrap: break-word ;
    padding:1%;
}
.titre_tarif{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Lato;
    font-weight: 400;
}

.content_tarif{
    font-size: 30px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}


body{
    margin:0;
    width: 100%;
    background: #1C5588;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.m-auto {
    margin: auto !important
}

.tagline {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    background: linear-gradient(84deg, #01b9c4 0%, #76caad 25%, #f7c596 48.44%, #f08b50 72.92%, #e590ae 100%);
    background-clip: border-box;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-bottom: 0.5rem;
}

.unlimited-main-title {
    color: #eaf2fb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

.text-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaf2fb;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.primary-btn {
    width: fit-content;
    height: fit-content;
    background-color: #FBCE9E;
    border: none;
    border-radius: 8px;
    transition-duration: 0.2s;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #040b13;
    padding: 8px 16px;
  }

.images-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.img-container {
    width: 12%; /* Set the desired percentage width */
    margin: auto; /* Center the container horizontally */
}

.img-container img {
    width: 100%; /* Set the image width to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove any extra spacing below the image */
}

.img-border {
    border: 4px solid white; /* Adjust the border size as needed */
    border-radius: 50%;
    padding: 15px;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.logoMainImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.menuBar{
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #1c56887f;
    justify-content: space-between;
    position: absolute;
}

.menuLogo{
    width: 50px;
    height: 50px;
    display:flex;
    padding-left: 30px;
}

.dark_description_bg {
    background-color: #00000085;
    padding: 50px;
    border-radius: 20px;
}

.menuLogin{
    text-align: right;
    color: #1C5588;
    font-size: 22px;
    font-weight: 400;
    word-wrap: break-word;
    padding-right: 30px;
    cursor: pointer;
    color: #FBCE9E;
}

.presentationDiv{
    /*width:100%;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.baniereTitre{
    width:100%;
    background: #00BDC8;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
}

.tarifPanel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.copyright_ext{
    width: 100%;
    background: #FBCE9E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}

.copyright_int{
    color: #1C5588;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
}

.titreFiltreSearch{
    width: 50%;
    height: 131px;
    color: white;
    font-size: 80px;
    font-family: Lato;
    font-weight: 400;
    line-height: 60.80px;
    word-wrap: normal;
}

#slider {
    height: 10px;
    margin-top: 20px;
    width:100%;
}

#slider-values {
    margin-top: 30px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f08b50;
    border-radius: 20px;
    border: white solid 2px;
    padding: 15px 0px;
    text-align: center;
}

.sliderContainer{
    width: 50%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.labelOption{
    color: white;
    font-size: 35px;
    font-family: Lato;
    font-weight: 400;
    line-height: 54.95px;
    word-wrap: break-word;
}
form {
    display: flex;
    flex-direction: column;
}
.option {
    display: flex;
    align-items: center;
}
input[type="radio"] {
    margin-right: 10px;
}

#simulationResult{
    display : none;
}

.titreSectionSimulation{
    color: white;
    font-size: 80px;
    font-family: Lato;
    font-weight: 400;
    line-height: 60.80px;
    width: 70%;
}

#textSynopsis{
    color: white;
    font-size: 20px;
    font-family: Lato;
    font-weight: 400; 
    line-height: 31.60px;
}

.actorName{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Lato;
    font-weight: 400;
    line-height: 22.80px;
}

#listeDistribution {
    list-style: none; /* Remove default list-style */
    padding: 0; 
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-around;
}

.sectionSimulation{
    align-self: flex-start;
    width:100%;
    padding:2%;
}

.actorImage {
    text-align: center; /* Center the image horizontally */
}

.actorImage img {
    display: block; /* Set the image as a block element */
    /* max-width: 100%; Set maximum width to the container width */ 
    /* height: auto; /* Maintain aspect ratio */
    width: auto;
    height: 200px;
    margin: 0 auto; /* Center the image horizontally */
}

#loadingAnimation {
    display: none;
    /* Add your styles for the loading animation here */
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 0, 0);
  }

#section5, #section6 {
    display: block;
}

.offers-title {
    width: 100%;
    background-color: #000000b4;
    color: white;
    padding: 20px 0px;
    text-align: center;
}
.offers-title h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 24px;
    letter-spacing: 0.1em;
    background: linear-gradient(84deg, #01b9c4 0%, #76caad 25%, #f7c596 48.44%, #f08b50 72.92%, #e590ae 100%);
    background-clip: border-box;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-bottom: 0.5rem;
}

.offers-content {
    display: flex;
    justify-content: space-around;
    width: 80%; /* Adjust the width of the content area */
    margin: auto;
    margin-top: 10%;
    height: 100vh;
}

.offers-box {
    flex: 1;
    background-color: #ffffffad;
    padding: 20px;
    margin: 0 10px; /* Adjust the spacing between boxes */
    box-sizing: border-box;
    text-align: center;
    height: 50%;
    border-radius: 25px;
}

.offer-title {
    border-image: linear-gradient(84deg, #01b9c4 0%, #76caad 25%, #f7c596 48.44%, #f08b50 72.92%, #e590ae 100%);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    padding: 15px 0px;
}

.offer-price {
    font-size: 15px;
    text-decoration: underline;
}

.offer-description {
    margin-top: 20px;
    font-size: 15px;
}

.team-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
}
.team-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.form-container {
    display: flex;
}


.form-step {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: blue;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  background-color: #175185;
  border-right: 1px solid #ccc;
  max-width: 100vw;

}
.button-next-container {
    margin-top: auto;
      
}
.form-button {
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #01b9c4;
    border-radius: 15px;
}

.form-slide-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 0.1em;
    background: linear-gradient(84deg, #01b9c4 0%, #76caad 25%, #f7c596 48.44%, #f08b50 72.92%, #e590ae 100%);
    background-clip: border-box;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-bottom: 0.5rem;
    
}
.search-body {
    margin: 0;
    overflow: hidden;
}
.title-container {
    text-align: center;
    margin-top: 30vh;
}
.hiddenCB {
    padding-top: 50px;
}
.hiddenCB label {
    padding: 4px 6px;
    line-height: 190%;
    outline-style: none;
    transition: all .6s;
  }

.hiddenCB div {
display: inline;
margin: 0;
padding: 0;
list-style: none;
}

.hiddenCB input[type="checkbox"],
.hiddenCB input[type="radio"] {
display: none;

}

.hiddenCB label {
cursor: pointer;
}

.hiddenCB input[type="checkbox"]+label:hover{
background: #e590aea6;
}

.hiddenCB input[type="checkbox"]:checked+label {
background: #e590ae;
}

.hiddenCB input[type="checkbox"]:checked+label:hover{
background: rgba(0, 128, 128, 0, .7);
}


/* Public CSS */
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  text-align: left;
  margin-top: 50px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


/* Oscars/Box office */
.img-choice {
    cursor: pointer;
    max-width: 100px;
    border: 2px solid transparent;
  }

.img-choice:hover {
    border: 2px solid #3498db;
}

#selectOption {
    display: none;
}

.img-form-container {
    display: flex;
    width: 40%;
    align-content: space-between;
    position: relative;
    text-align: center;
  padding-bottom: 15%;
}

.img-form-container img {
    max-width: 200px;
    max-height: 200px;
}

#oscar-img {
    margin-left: auto;
}

#money-bag {
    margin-right: auto;
}

#pre-loader {
    margin: 0px;
	background: radial-gradient(#a4d3e9, #175083);
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}
.loader-container {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
}

.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #01b9c4,
		0 2px 3px #01b9c4,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}

.loading-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.1em;
    background: linear-gradient(84deg, #185083 0%, #01b9c4 33%, #e390ac 66%, #f08b50 100%);
    background-clip: border-box;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/*film animation*/
body {
    margin: 0;
    overflow: hidden;
  }

  .animation-container {
    position: absolute;
    width: 200%;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    display: none;
    z-index: 2;
    top: 0;
  }

  .image-slider {
    width: 100%;
    height: 100%;
    background-image: url('pictures/film-strip.png'); /* Replace with your image URL */
    background-size: 100vw 100vh;
    animation: slideImage 5s linear;
    display: none;
  }

  .animate {
    animation: slideImage 5s linear;
  }

  @keyframes slideImage {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

.fancy-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.1em;
    background: linear-gradient(84deg, #185083 0%, #01b9c4 33%, #e390ac 66%, #f08b50 100%);
    background-clip: border-box;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content-results{
    width: 50%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #a4d3e9;
}


.section-results {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    background-color: #0e3a61;
}

#title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.result-title {
    text-align: center;
    position: absolute;
    top: 20%;
}
.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
    cursor: pointer;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }
  
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
  
.flex-body {
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scenario {
    width:60%;
    text-align: justify;
    font-size: 20px;
}

#actors-container {
    display: flex;
    justify-content: space-between;
}

.actors-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px; /* Add some margin for better spacing */
}

.actors-container div {
    width: 23%; /* Adjust the width as needed */
    text-align: center;
}

.actor-container img {
    height: 175px;
    width: auto;
    margin-bottom: 10px; /* Add margin between image and text */
}

.actor-container p{
    font-size: 15px;
}

.actor-container{
    text-align: center;
}

#money-bag, #oscar-img {
    cursor: pointer;
}